{% include 'index.html' %}
</head>
<body>
  <h1>🐚 LFI Playground</h1>
  <a class="btn" href="/shell">💣 Trigger Shell</a>
  <a class="btn" href="/shell_logs">📜 View Shell Logs</a>
  <a class="btn" href="http://localhost:8081/submit_flag">Submit Flag</a>
  <a class="btn" href="http://localhost:8081/scoreboard">🏆 Scoreboard</a>
  <a class="btn" href="http://localhost:8081/campaign">🎯 Campaign</a>
  <a class="btn" href="http://localhost:8080">⬅️ Main Menu</a>
</body>
</html>



<form action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" value="Upload File">
</form>

<hr>

<h3>🔍 Simulate File Inclusion</h3>
<form method="GET" action="/view">
  <input name="page" placeholder="e.g., shell.php">
  <input type="submit" value="Include">
</form>
